#pragma once

const char* ssid = "TwojaSiec";
const char* password = "TwojeHaslo";
const char* mqtt_server = "broker.hivemq.com";
const int mqtt_port = 1883;
const char* ntpServer = "pool.ntp.org";
const long gmtOffset_sec = 3600;
const int daylightOffset_sec = 3600;
const char* mqtt_topic = "TwojTopic"